body{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body.dark {
    background-color: #000000bb; 
    color: #fff;
  }
  body.dark header{
    filter: invert(1);
  }
  body.dark .sent-request-btn {
    border: 1px solid #ffffff;
    color: #ffffff;
  }
body p, h1, h2, b{
    margin: 0;
}
header{
    background-image: url("/image/backheader.png");
    width: 100%;
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  body.dark .children-end-bottom-header{
    color: #000;
  }
.top-header{
    width: 100%;
}
.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 16px;
}
.header-nav a{
    text-decoration: none; 
    color: #081F32; 
    font-weight: normal; 
    font-style: normal; 
}
.header-nav a:nth-child(2) {
    color: #1B75BB;
}
.block-book{
    color: #fff;
    background-color: #1B75BB;
    width: 135px;
    height: 55px;
    border: none;
    border-radius: 12px;
}
.bottom-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-right: 170px;
    margin-top: 70px;
}
.begin-bottom-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.begin-bottom-header h2{
font-size: 20px;
color: #1B75BB;
text-transform: uppercase;
}

.begin-bottom-header h1{
    font-size: 57px;
    color: #081F32;
    line-height: 120%;
    width: 60%;
    }

.begin-bottom-header p{
    font-size: 18px;
    color: #081F32;
    line-height: 160%;
    width: 43%;
    }

.end-bottom-header{
    display: flex;
    align-items: center;
    gap: 50px;
    backdrop-filter: blur(10px);
    width: 80%;
    height: 80px;
    border: 10px;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 120px;
        gap: 50px;
    }
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}
.img-section2{
    content: url(/image/section2.png);
}
.text-section2{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}
.text-section2 h2{
    font-size: 20px;
    color: #1B75BB;
    text-transform: uppercase;
}
.text-section2 p{
    font-size: 32px;
    color: #081F32;
    width: 60%;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}
.section3 h2{
    font-size: 32px;
}
.section3 p{
    font-size: 18px;
    width: 80%;
    text-align: center;
    line-height: 160%;
}
.blocki-section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.block-section3, .block-section3-1, .block-section3-2, .block-section3-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #000;
    width: 20%;
    height: 250px;
    width: 45%;
}
.img-block-section3{
    content: url(/image/click.png);
    width: 20%;
}
.img-block-section3-1{
    content: url(/image/group.png);
    width: 20%;
}
.img-block-section3-2{
    content: url(/image/coub.png);
    width: 20%;
}
.img-block-section3-3{
    content: url(/image/box.png);
    width: 20%;
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 82%;
}
.first-section4, .second-section4, .tretya-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
}

.cost-first-section4-1{
    background-image: url(/image/img1section4.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 337px;
    position: relative;
    border-radius: 10px;
}
.cost-first-section4-2{
    background-image: url(/image/img2section4.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 337px;
    position: relative;
    border-radius: 10px;
}
.cost-first-section4-3{
    background-image: url(/image/img3section4.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 337px;
    position: relative;
    border-radius: 10px;
}
.cost-first-section4-4{
    background-image: url(/image/img4section4.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 337px;
    position: relative;
    border-radius: 10px;
}
.cost-first-section4-5{
    background-image: url(/image/img5section4.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 337px;
    position: relative;
    border-radius: 10px;
}

.text-first-section4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.text-first-section4 h2{
    font-size: 32px;
}

.text-first-section4 p{
    font-size: 18px;
    width: 72%;
    line-height: 160%;
}

.block-in-cost-first-section4{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(5px);
    width: 34%;
    padding: 40px;
    border-radius: 10px;
}
.text-block-in-cost-first-section4{
    display: flex;
    align-items: center;
    gap: 5px;
}
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.text-section5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
}
.text-section5 h2{
    font-size: 32px;
}
.blocki-section5{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 82%;
}
.blocki-section5.active {
    display: flex;
  }
.block-section5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 0.2px solid #000;
    padding: 15px;
}
.block-section5 p{
    font-size: 18px;
    width: 60%;
    text-align: center;
}
.slid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.img-block-section5-1{
    content: url(/image/pervi.png);
}
.img-block-section5-2{
    content: url(/image/vtoroi.png);
}
.img-block-section5-3{
    content: url(/image/treti.png);
}
.subscribe-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscribe-input {
    border: none;
    padding: 10px 15px;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.subscribe-input::placeholder {
    color: #999;
}

.subscribe-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: #0056b3;
}
.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.section6 h2{
font-size: 20px;
}

.section6 b{
    font-size: 32px;
    }
    footer{
        display: flex;
        justify-content: start;
        align-items: start;
        margin: 50px;
        gap: 100px;
    }
    .begin-footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
.img-footer{
    margin-top: 10px;
}
.first-dooter, .second-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
footer .subscribe-container{
    margin-top: 30px;
}

.max-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    gap: 100px;
}
.contact_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.contact-inputs{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}
.section-title{
    color: #1B75BB;
    font-size: 60px;
    width: 100%;
}
.contact-map{
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}
.contact__input {
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #c0c0c0;
    padding: 0 0 5px 10px;
    font-size: 20px;
}
.contact__submit {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    width: 100%;
    margin: 1rem 0 0;
    padding: 1rem 0;
}
.sent-request-btn {
    background: none;
    border: 1px solid #333333;
    padding: 0.8rem 3.1rem;
    font-family: "Futura PT";
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    transition: 0.3s linear;
    text-decoration: none;
}

.subscribe-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscribe-input {
    border: none;
    padding: 10px 15px;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.subscribe-input::placeholder {
    color: #999;
}

.subscribe-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: #0056b3;
}
#map {
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.end-footer{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    flex-direction: column;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    text-align: center; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
.modal button{
    width: 100%;
}
body.dark .modal-content{
    filter: invert(1);
    color: #000;
}
@media (max-width: 1400px) {
    .header-nav{
        width: 100%;
        flex-wrap: wrap;
    }
}
@media (max-width: 1000px) {
    .header-nav{
        gap: 40px;
    }
    .section2{
        flex-wrap: wrap;
        gap: 20px;
    }
    footer{
        flex-wrap: wrap;
    }
    .bottom-header{
        margin-right: 140px;
        margin-left: 30px;
    }
    .section6 b{
        width: 90%;
    }
    .block-in-cost-first-section4 {
        width: 66%;
    }
    .blocki-section3 {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .img-section2{
        width: 100%;
    }
    .burger-menu {
        width: 30px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000; 
      }
      .burger-menu span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333;
        transition: all 0.3s ease-in-out;
      }
      
      .header-block1 {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        width: 250px;
        height: auto;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 999; 
      }
      
      .header-block1.open {
        display: block;
      }
      
      .header-nav {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;
      }
      body.dark .header-nav{
        background-color: dimgrey;
      }
      
      .header-nav a,
      .header-nav button {
        margin: 10px 0;
        text-decoration: none;
        color: #333;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        text-align: left;
      }
      
      .burger-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      
      .burger-menu.open span:nth-child(2) {
        opacity: 0;
      }
      
      .burger-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
      
      body.dark .burger-menu span {
        background-color: #fff;
      }
      .contact-wrapper{
        flex-direction: column;
      }
      .contact-map{
        width: 100%;
      }
}
@media (max-width: 650px) {
    .end-bottom-header {
        width: 100%;
    }
    .bottom-header {
        margin-right: 50px;
    }
    .header-nav{
        flex-wrap: wrap;
    }
    .text-section2{
        margin-left: 15px;
    }
    .blocki-section5{
        flex-wrap: wrap;
        gap: 20px;
    }
    .bottom-header{
        margin-top: 60px;
    }
}

@media (max-width: 440px) {
    .bottom-header{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .end-bottom-header {
        gap: 30px;
        height: 160px;
        flex-wrap: wrap;
    }
    .block-in-cost-first-section4 {
        padding: 0;
    }
    .first-section4{
        flex-wrap: wrap;
    }
    .second-section4{
        flex-wrap: wrap;
    }
    .tretya-section4{
        flex-wrap: wrap;
    }
    .cost-first-section4-1{
        width: 100%;
    }
    .cost-first-section4-2{
        width: 100%;
    }
    .cost-first-section4-3{
        width: 100%;
    }
    .cost-first-section4-4{
        width: 100%;
    }
    .cost-first-section4-5{
        width: 100%;
    }
    .text-first-section4{
        width: 100%;
    }
    .subscribe-container {
        flex-wrap: wrap;
    }
    .subscribe-button{
        width: 100%;
    }
    footer{
        gap: 20px
    }
    .max-block{
        flex-direction: column;
        gap: 20px;
    }
    .block-section3{
        width: 80%;
    }
    .block-section3-1{
        width: 80%;
    }
    .block-section3-2{
        width: 80%;
    }
    .block-section3-3{
        width: 80%;
    }
    .section3 h2 {
        text-align: center;
    }
    .slid{
        gap: 0;
    }
}